input[type="text"], input[type="submit"], .button {
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.hs-form.stacked .field{
    margin-bottom: 0px !important;
}
.hs-form {

}
  label {
    color: $ips-white !important;
  }
  .hs-button {
    background-color: $ips-green !important;
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    width: 60% !important;
    height: 2em !important;
    margin: 0 auto !important;
    display: block !important;
    color: white !important;
    line-height: 1.75em !important;
    border: none !important;
    font-size: 1.5em !important;
    &:hover {
      cursor: pointer !important;
      background-color: $ips-grey !important;
    }
  }

.actions {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
   border: none !important;
  &:hover {
    cursor: pointer !important;
  }
}

.border-left {
  border-left: solid 3px white !important;
}

.no-border-left-small {
  @include respond-to(small-only){
    border-left: none !important;
  }
}
.no-border-left-medium {
  @include respond-to(medium-only){
    border-left: none !important;
  }
}