.h1 {
  font-size: $h1-font-size !important;
}

/*
$h1-font-size: rem-calc(44);
$h2-font-size: rem-calc(37);
$h3-font-size: rem-calc(27);
$h4-font-size: rem-calc(23);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;
*/
.h2 {
  font-size: $h2-font-size !important;
}

.h2_5 {
  font-size: $h2_5-font-size !important;
}

.h3 {
  font-size: $h3-font-size !important;
}

.h3-5 {

}

.h4 {
  font-size: $h4-font-size !important;
}

.h5 {
  font-size: $h5-font-size !important;
}

.h6 {
  font-size: $h6-font-size !important;
}

.text-upper-case {
  text-transform: uppercase;
}

dd, dt {
  color: white;
}

.list-style-none {
  list-style-type: none;
}

.ul-stick-bottom {
  margin: 1.25rem 0px 0px;
}

.heading-line-height {
  line-height: 1.2em;
}